<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
default-lazy-init="true">
    <!--APOLLO bean definitions here -->
    <bean id="apollo" class="com.example.dmitrii.spring_practice.rockets.Apollo"
          p:fuelType-ref="saturnFuelType"
          p:firstStage-ref="saturnFirstStage"
          p:secondStage-ref="saturnSecondStageStage"
          p:thirdStage-ref="saturnThirdStage"
          c:serialNumber="175168413"
          c:hustonWeHaveAProblem="false"
          c:camouflage="Black|White"
    />

    <bean id="saturnFirstStage" class="com.example.dmitrii.spring_practice.saturn.SaturnFirstStage"/>
    <bean id="saturnSecondStageStage" class="com.example.dmitrii.spring_practice.saturn.SaturnSecondStage"/>
    <bean id="saturnThirdStage" class="com.example.dmitrii.spring_practice.saturn.SaturnThirdStage"/>
    <bean id="saturnFuelType" class="com.example.dmitrii.spring_practice.saturn.SaturnFuelType"/>
    <!--<constructor-arg value="175168413" index="0" type="int"/>-->
    <!--<constructor-arg value="false" index="1" type="boolean"/>-->
    <!--<constructor-arg value="Black|White" index="2" type="java.lang.String"/>-->

    <!--<property name="fuelType" ref="saturnFuelType"/>-->
    <!--<property name="firstStage" ref="saturnFirstStage"/>-->
    <!--<property name="secondStage" ref="saturnSecondStageStage"/>-->
    <!--<property name="thirdStage" ref="saturnThirdStage"/>-->


    <!-- GEMINI beans definitions here -->
    <bean id="gemini" class="com.example.dmitrii.spring_practice.rockets.Apollo"
          p:fuelType-ref="geminiFuelType"
          p:firstStage-ref="geminiFirstStage"
          p:secondStage-ref="geminiSecondStage"
          p:thirdStage-ref="geminiThirdStage"
          c:serialNumber="175168413"
          c:hustonWeHaveAProblem="true"
          c:camouflage="White"
    />


    <bean id="geminiFirstStage" class="com.example.dmitrii.spring_practice.gemini.GeminiFirstStage"/>
    <bean id="geminiSecondStage" class="com.example.dmitrii.spring_practice.gemini.GeminiSecondStage"/>
    <bean id="geminiThirdStage" class="com.example.dmitrii.spring_practice.gemini.GeminiThirdStage"/>
    <bean id="geminiFuelType" class="com.example.dmitrii.spring_practice.gemini.GeminiFuelType"/>

    <context:component-scan base-package="com.example.hibernate_practice"/>

    <bean class="com.example.dmitrii.spring_practice.MyBeanPostProcessor"/>


</beans>
